<div class="modal fade" id="supModal{{ user.id }}" tabindex="-1" role="dialog" aria-labelledby="supModal{{ user.id }}" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header modal-header-danger">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="text-danger"><i class="glyphicon glyphicon-remove"></i>Suppression</h4>
            </div>
            <div class="modal-body">
                <p>Voulez-vous vraiment supprimer l'utilisateur {{ user.prenom }} {{  user.nom }} </p>
            </div>
            <div class="modal-footer">
                <a type="button" href="{{ path('tk_utilisateur_delete', { 'id' : user.id }) }}" class="btn btn-danger">Supprimer</a>
                <a href="#" data-dismiss="modal" aria-hidden="true" class="btn btn-primary">Annuler</a>
            </div>
        </div>
    </div>
</div>
