{% extends "TKCoreBundle::layout.html.twig" %}

{% block title %}
    {{ parent() }} - Etudiants
{% endblock %}

{% block body %}


    <div class="container-fluid" style="background: #e3e3e3; margin-top: 0px">


        {% include "TKUtilisateurBundle:Etudiant:submenu.html.twig" %}

        {% include "TKUtilisateurBundle:Etudiant:searchmenu.html.twig" %}


        {% for message in app.session.flashbag.get('notice') %}
            {% include "TKCoreBundle::modal_ok.html.twig" %}
        {% endfor %}

        <table class="table table-striped table-hover table-bordered" style="border:1px solid #CCC;background: #FFF;color:#666;">
            <thead>
            <tr style="color: black;">
                <th>#</th>
                <th>Nom</th>
                <th>Prénom</th>
                <th>Genre</th>
                <th>Email</th>
                <th>Abonnement</th>
                <th class="text-center" colspan="2">Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for user in liste_users %}
                <tr>
                    <td>{{ user.id }}</td>
                    <td>{{ user.nom }}</td>
                    <td>{{ user.prenom }}</td>
                    <td>{{ user.sexe.libGenre }}</td>
                    <td>{{ user.email }}</td>
                    <td>{{ user.abonnementEtat.libEtatFr }}</td>
                    <td class="text-center"><a style="cursor: pointer" href="{{ path('tk_etudiant_view', { 'id' : user.id}) }}" title="Modifier" class="text-info"><span class="fa fa-edit"></span></a></td>
                    <td class="text-center"><a style="cursor: pointer" data-toggle="modal" data-target="#supModal{{ user.id }}" title="Supprimer" class="text-danger"><span class="fa fa-remove"></span></a></td>
                </tr>
                {% include "TKUtilisateurBundle:Etudiant:modal_delete.html.twig" %}
            {% else %}
                <tr><td colspan=7 class="text-center">Pas d'étudiants</td></tr>
            {% endfor %}

            </tbody>
        </table>



        {% if pagination %}
            {% include 'TKCoreBundle::pagination.html.twig' %}
        {% endif %}
    </div>


{% endblock %}

