{% extends "TKCoreBundle::layout.html.twig" %}

{% block title %}
    {{ parent() }} - Accueil
{% endblock %}

{% block body %}
    <div class="container">
        <div class="jumbotron">
            <h1 class="display-3">SUNNAH</h1>
            <p>Ici vous pourrez gérer l'ensemble des entités de l'application mobile SUNNAH et d'en assurer le suivi.</p>
            <p><a class="btn btn-primary btn-lg" href="#">Lire la documentation...</a></p>
        </div>


        <div class="row equal-height">

            {% if is_granted('ROLE_ADMINISTRATEUR') %}
                <div class="col-md-4 col-xs-6" >
                    <div class="thumbnail">
                        <a href="" >
                            <img src="{{ asset('bundles/tkcore/images/livres.jpg') }}"  alt="" class="img-responsive img-thumbnail">
                        </a>
                        <div class="caption">
                            <h4 class="text-center"><a href="" class="text-success">Gestion des Cours</a></h4>
                        </div>
                    </div>
                </div>

                <div class="col-md-4 col-xs-6">
                    <div class="thumbnail">
                        <a href="" >
                            <img src="{{ asset('bundles/tkcore/images/classes.jpg') }}" height="367px" alt="" class="img-responsive img-thumbnail">
                        </a>
                        <div class="caption">
                            <h4 class="text-center"><a href="" class="text-warning">Gestion des Etudiants</a></h4>
                        </div>
                    </div>
                </div>

                <div class="col-md-4 col-xs-6">
                    <div class="thumbnail">
                        <a href="{{ path('tk_utilisateur_homepage') }}" >
                            <img src="{{ asset('bundles/tkcore/images/users.png') }}" alt="" class="img-responsive img-thumbnail">
                        </a>
                        <div class="caption">
                            <h4 class="text-center"><a href="{{ path('tk_utilisateur_homepage') }}" class="text-info">Gestion des Utilisateurs</a></h4>
                        </div>
                    </div>
                </div>
            {% else %}
                <div class="col-md-4">
                    <div class="thumbnail">
                        <a href="" >
                            <img src="{{ asset('bundles/tkcore/images/livres.jpg') }}" alt="" class="img-responsive img-thumbnail">
                        </a>
                        <div class="caption">
                            <h4 class="text-center"><a href="" class="text-success">Gestion des Cours</a></h4>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="thumbnail">
                        <a href="" >
                            <img src="{{ asset('bundles/tkcore/images/classes.jpg') }}" alt="" class="img-responsive img-thumbnail">
                        </a>
                        <div class="caption">
                            <h4 class="text-center"><a href="" class="text-warning">Gestion des Etudiants</a></h4>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="thumbnail">
                        <a href="" >
                            <img src="{{ asset('bundles/tkcore/images/cours.jpg') }}" alt="" class="img-responsive img-thumbnail">
                        </a>
                        <div class="caption">
                            <h4 class="text-center"><a href="" class="text-info">Aide</a></h4>
                        </div>
                    </div>
                </div>
            {% endif %}




        </div>

    </div>
{% endblock %}