<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>{% block title %}{{ nom_site }}{% endblock %}</title>
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/tkcore/font-awesome/css/font-awesome.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/tkcore/css/bootstrap.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/tkcore/css/style.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/tkcore/css/chosen.min.css') }}">
    <script type="text/javascript" src="{{ asset('bundles/tkcore/js/jquery.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/tkcore/js/bootstrap.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/tkcore/js/chosen.jquery.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/tkcore/js/jquery.dataTables.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/tkcore/js/dataTables.bootstrap.min.js') }}"></script>
    <script>
        $.fn.serializeObject = function()
        {
            var o = {};
            var a = this.serializeArray();
            $.each(a, function() {
                if (o[this.name] !== undefined) {
                    if (!o[this.name].push) {
                        o[this.name] = [o[this.name]];
                    }
                    o[this.name].push(this.value || '');
                } else {
                    o[this.name] = this.value || '';
                }
            });
            return o;
        };
    </script>

</head>

<body>

<header>
    <nav class="navbar navbar-expand-md navbar-dark bg-primary">

        <div class="container-fluid">
            <a class="navbar-brand" href="{{ path('tk_core_homepage') }}">
                <img class="img-responsive img-circle" src="{{ asset('bundles/tkcore/images/logo192.png') }}">
            </a>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarColor01">
                <ul class="navbar-nav mr-auto" id="nav">
                    <li class="nav-item {% if accueil is defined %} active {% endif %}">
                        <a class="nav-link" href="{{ path('tk_core_homepage') }}">Accueil</a>
                    </li>
                    {% if is_granted('ROLE_GESTIONNAIRE') %}

                        <li class="nav-item {% if abonnement is defined %} active {% endif %}">
                            <a class="nav-link" href="{{ path('tk_abonnements_homepage') }}">Abonnements</a>
                        </li>

                        <li class="nav-item {% if etudiant is defined %} active {% endif %}">
                            <a class="nav-link" href="{{ path('tk_etudiant_homepage') }}">Etudiants</a>
                        </li>

                        <li class="nav-item {% if cours is defined %} active {% endif %}">
                            <a class="nav-link" href="{{ path('tk_cours_homepage') }}">Cours</a>
                        </li>

                        <li class="nav-item {% if recitation is defined %} active {% endif %}">
                            <a class="nav-link" href="{{ path('tk_recitation_homepage') }}">Récitateurs</a>
                        </li>
                        <li class="nav-item {% if media is defined %} active {% endif %}">
                            <a class="nav-link" href="{{ path('tk_media_homepage') }}">Médiathèque</a>
                        </li>

                    {% endif %}
                    {% if is_granted('ROLE_ADMINISTRATEUR') %}
                        <li class="nav-item {% if utilisateur is defined %} active {% endif %}">
                            <a class="nav-link" href="{{ path('tk_utilisateur_homepage') }}">Utilisateurs</a>
                        </li>
                    {% endif %}
                </ul>
                <ul class="navbar-nav">
                    {% if app.user %}
                        <li class="nav-item {% if aide is defined %} active {% endif %}">
                            <a href="" class="nav-link" title="Aide"><i class="fa fa-info"></i></a>
                        </li>
                        <li class="nav-item {% if profil is defined %} active {% endif %}">
                            <a href="{{ path('tk_profile_edit') }}" class="nav-link" title="Profil"><i class="fa fa-user"></i></a>
                        </li>
                        <li class="nav-item">
                            <a href="{{ path('logout') }}" class="nav-link" title="Se déconnecter"><i class="fa fa-sign-out"></i></a>
                        </li>
                    {% else %}
                        <li class="nav-item"><a href="{{ path('login') }}" class="nav-link" title="Compte"><i class="fa fa-sign-in"></i></a></li>
                    {% endif %}
                </ul>
            </div>
        </div>


    </nav>
</header>
{% block body %}

{% endblock %}
<footer class="footer text-md-right" style="height: 100px; bottom: 0px;">
    <hr>
    <div class="{% if accueil is defined %} container {% else %} container-fluid {% endif %}">
        <div class="row">
            <div class="col-lg-12">
                <p>&copy; {{ 'now' | date('Y') }} - SUNNAH JEUNESSE / <b class="text-success">Version : {{ version_site }}</b>, Tous droits réservés.</p>
            </div>
        </div>
    </div>
</footer>

</body>
</html>