<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>{% block title %}{{ nom_site }}{% endblock %}</title>
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/tkcore/font-awesome/css/font-awesome.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/tkcore/css/bootstrap.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/tkcore/css/jquery-ui.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/tkcore/css/style.css') }}">
    <script type="text/javascript" src="{{ asset('bundles/tkcore/js/jquery.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/tkcore/js/jquery-ui.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/tkcore/js/bootstrap.min.js') }}"></script>

</head>

<body>

<header>
    <nav class="navbar navbar-expand-md navbar-dark bg-primary">

        <div class="container-fluid">
            <a class="navbar-brand" href="#">{{ nom_site }}</a>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarColor01">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="{{ path('tk_core_homepage') }}">Accueil <span class="sr-only">(current)</span></a>
                    </li>
                    {% if is_granted('ROLE_GESTIONNAIRE') %}
                        <li class="nav-item">
                            <a class="nav-link" href="#">Etudiants</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Cours</a>
                        </li>
                    {% endif %}
                    {% if is_granted('ROLE_ADMINISTRATEUR') %}
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('tk_utilisateur_homepage') }}">Utilisateurs</a>
                        </li>
                    {% endif %}
                </ul>
                <ul class="navbar-nav">
                    {% if app.user %}
                        <li class="nav-item">
                            <a href="" class="nav-link" title="Aide"><i class="fa fa-info"></i></a>
                        </li>
                        <li class="nav-item">
                            <a href="" class="nav-link" title="Profil"><i class="fa fa-user"></i></a>
                        </li>
                        <li class="nav-item">
                            <a href="{{ path('logout') }}" class="nav-link" title="Se déconnecter"><i class="fa fa-sign-out"></i></a>
                        </li>
                    {% else %}
                        <li class="nav-item"><a href="{{ path('login') }}" class="nav-link" title="Compte"><i class="fa fa-sign-in"></i></a></li>
                    {% endif %}
                </ul>
            </div>
        </div>


    </nav>
</header>
{% block body %}
{% endblock %}
</body>
</html>