{% extends "TKCoreBundle::layout.html.twig" %}

{% block title %}
    {{ parent() }} - Récitateur
{% endblock %}

{% block body %}


<div class="container-fluid" style="background: #e3e3e3; margin-top: 0px">

    {% include "TKRecitationBundle:Recitateur:submenu.html.twig" %}

    {% for message in app.session.flashbag.get('notice') %}
        {% include "TKCoreBundle::modal_ok.html.twig" %}
    {% endfor %}

    <div style="position: relative; display: inline-block;border:1px solid #CCC;background: #FFF;color:#666; width: 100% ; padding-top: 10px">

        <h3 class="text-primary text-center" >Modification de données</h3>
        <hr>

        <div class="center-block container">

            <div class="row">
                <div class="col-lg-3">
                    <center>
                        <img src="{{ asset(imgProfilUrl) }}" name="aboutme" width="170px" height="170px" class="img-thumbnail img-rounded"></a>
                        <h3 class="media-heading">{{ recitateur.nom }} {{ recitateur.prenom }}</h3>
                    </center>

                </div>
                <div class="col-lg-9">
                    <center>
                        {{ form_start(form,{'attr' : {'class' : 'form-horizontal text-left'}}) }}


                        <div class="row">

                            <div class="form-group col-lg-6">

                                {{ form_label(form.nom,"Nom : ",{'label_attr' : {'class': 'col-lg-12 control-label'}}) }}

                                <div class="col-lg-12">
                                    {{ form_widget(form.nom,{'attr':{'class':'form-control','placeholder':'Nom de l\'utilisateur'}}) }}
                                </div>

                                <div class="col-lg-12 text-danger">
                                    {{ form_errors(form.nom) }}
                                </div>

                            </div>

                            <div class="form-group col-lg-6">

                                {{ form_label(form.prenom,"Prénom : ",{'label_attr' : {'class': 'col-lg-12 control-label'}}) }}

                                <div class="col-lg-12">
                                    {{ form_widget(form.prenom,{'attr':{'class':'form-control','placeholder':'Prénom de l\'utilisateur'}}) }}
                                </div>

                                <div class="col-lg-12 text-danger">
                                    {{ form_errors(form.prenom) }}
                                </div>

                            </div>

                            <div class="form-group col-lg-6">

                                {{ form_label(form.genre,"Sexe : ",{'label_attr' : {'class': 'col-lg-12 control-label'}}) }}

                                <div class="col-lg-12">
                                    {{ form_widget(form.genre,{'attr':{'class':'form-control'}}) }}
                                </div>

                                <div class="col-lg-12 text-danger">
                                    {{ form_errors(form.genre) }}
                                </div>

                            </div>

                            <div class="form-group col-lg-6">

                                {{ form_label(form.categorie,"Catégorie : ",{'label_attr' : {'class': 'col-lg-12 control-label'}}) }}

                                <div class="col-lg-12">
                                    {{ form_widget(form.categorie,{'attr':{'class':'form-control'}}) }}
                                </div>

                                <div class="col-lg-12 text-danger">
                                    {{ form_errors(form.categorie) }}
                                </div>

                            </div>

                            <div class="form-group col-lg-12">

                                {{ form_label(form.imgProfil,"Photo : ",{'label_attr' : {'class': 'col-lg-12 control-label'}}) }}

                                <div class="col-lg-12">
                                    {{ form_widget(form.imgProfil,{'attr':{'class':'form-control'}}) }}
                                </div>

                                <div class="col-lg-12 text-danger">
                                    {{ form_errors(form.imgProfil) }}
                                </div>

                            </div>

                            <div class="form-group col-lg-12">

                                <p class="text-center">
                                    {{ form_widget(form.Sauvegarder,{'attr':{'class':'btn btn-info btn-lg btn-block'}}) }}
                                </p>

                            </div>

                            {{ form_rest(form) }}

                            {{ form_end(form) }}
                    </center>

                </div>
                <div class=" col-lg-12 progress" style="margin-top: 5px; margin-bottom: 5px;">
                    <div class="progress-bar bg-primary" role="progressbar" style="width: 100%;" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
                <div class="col-lg-12 text-left">
                    <a style="cursor: pointer" data-toggle="modal" data-target="#addModal" title="Ajouter une piste" class="text-primary"><span class="fa fa-plus"></span> Ajouter une nouvelle piste audio</a>
                    {% include "TKRecitationBundle:Recitateur:modal_add_sound.html.twig" %}
                </div>
                <div class="col-lg-12">
                    <table class="table table-striped table-hover table-bordered" style="border:1px solid #CCC;background: #FFF;color:#666;">
                        <thead>
                        <tr style="color: black;">
                            <th>#</th>
                            <th>Titre</th>
                            <th class="text-center" colspan="2">Actions</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for son in recitateur.sons %}
                            <tr>
                                <td><span class="fa fa-music"></span></td>
                                <td>{{ son.titre }}</td>
                                <td class="text-center"><a style="cursor: pointer" data-toggle="modal" data-target="#playModal{{ son.id }}" title="Play" class="text-info"><span class="fa fa-play"></span></a></td>
                                <td class="text-center"><a style="cursor: pointer" data-toggle="modal" data-target="#supModal{{ son.id }}" title="Supprimer" class="text-danger"><span class="fa fa-remove"></span></a></td>
                            </tr>
                            {% include "TKRecitationBundle:Recitateur:modal_delete_sound.html.twig" %}
                            {% include "TKRecitationBundle:Recitateur:modal_play_sound.html.twig" %}

                        {% else %}
                            <tr><td colspan=4 class="text-center">Pas de piste audio.</td></tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>


            <hr>
            <center>

            </center>
        </div>
    </div>
</div>
{% endblock %}
