{% extends "TKCoreBundle::layout.html.twig" %}

{% block title %}
    {{ parent() }} - Cours
{% endblock %}

{% block body %}


    <div class="container-fluid" style="background: #e3e3e3; margin-top: 0px">


        {% include "TKCoursBundle:Cours:submenu.html.twig" %}

        {% for message in app.session.flashbag.get('notice') %}
            <div class=" text-success text-center ">
                <strong>{{ message }} <br></strong>.
            </div>
        {% endfor %}


        <div style="position: relative; display: inline-block;border:1px solid #CCC;background: #FFF;color:#666; width: 100% ; padding-top: 10px">

            <h3 class="text-primary text-center" >Modifier un Cours</h3>
            <hr>

            <div class="center-block">

                {{ form_start(form,{'attr' : {'class' : 'form-horizontal'}}) }}


                <div class="row">
                    <div class="form-group col-lg-6">

                        {{ form_label(form.titre,"Titre : ",{'label_attr' : {'class': 'col-lg-12 control-label'}}) }}

                        <div class="col-lg-12">
                            {{ form_widget(form.titre,{'attr':{'class':'form-control','placeholder':'Titre du cours'}}) }}
                        </div>

                        <div class="col-lg-12 text-danger">
                            {{ form_errors(form.titre) }}
                        </div>

                    </div>

                    <div class="form-group col-lg-6">

                        {{ form_label(form.description,"Description : ",{'label_attr' : {'class': 'col-lg-12 control-label'}}) }}

                        <div class="col-lg-12">
                            {{ form_widget(form.description,{'attr':{'class':'form-control','placeholder':'Définition du cours'}}) }}
                        </div>

                        <div class="col-lg-4 text-danger">
                            {{ form_errors(form.description) }}
                        </div>

                    </div>

                    <div class="form-group col-lg-6">

                        {{ form_label(form.file,"Fichier : ",{'label_attr' : {'class': 'col-lg-12 control-label'}}) }}

                        <div class="col-lg-12">
                            {{ form_widget(form.file,{'attr':{'class':'form-control'}}) }}
                        </div>

                        <div class="col-lg-4 text-danger">
                            {{ form_errors(form.file) }}
                        </div>

                    </div>

                    <div class="form-group col-lg-6">

                        {{ form_label(form.format,"Format : ",{'label_attr' : {'class': 'col-lg-12 control-label'}}) }}

                        <div class="col-lg-12">
                            {{ form_widget(form.format,{'attr':{'class':'form-control' , 'placeholder':'Format du cours'}}) }}
                        </div>

                        <div class="col-lg-4 text-danger">
                            {{ form_errors(form.format) }}
                        </div>

                    </div>

                    <div class="form-group col-lg-6">

                        {{ form_label(form.mois,"Mois : ",{'label_attr' : {'class': 'col-lg-12 control-label'}}) }}

                        <div class="col-lg-12">
                            {{ form_widget(form.mois,{'attr':{'class':'form-control','placeholder':'Mois de cours'}}) }}
                        </div>

                        <div class="col-lg-4 text-danger">
                            {{ form_errors(form.mois) }}
                        </div>

                    </div>

                    <div class="form-group col-lg-6">

                        {{ form_label(form.acces,"Accessibilité : ",{'label_attr' : {'class': 'col-lg-12 control-label'}}) }}

                        <div class="col-lg-12">
                            {{ form_widget(form.acces,{'attr':{'class':'form-control'}}) }}
                        </div>

                        <div class="col-lg-4 text-danger">
                            {{ form_errors(form.acces) }}
                        </div>

                    </div>

                    <div class="form-group col-lg-6">

                        {{ form_label(form.ajoutePar,"Ajouté Par : ",{'label_attr' : {'class': 'col-lg-12 control-label'}}) }}

                        <div class="col-lg-12">
                            {{ form_widget(form.ajoutePar,{'attr':{'class':'form-control','disabled':'disabled'}}) }}
                        </div>

                        <div class="col-lg-4 text-danger">
                            {{ form_errors(form.ajoutePar) }}
                        </div>

                    </div>

                    <div class="form-group col-lg-6">

                        {{ form_label(form.dateAjout,"Date d'ajout : ",{'label_attr' : {'class': 'col-lg-12 control-label'}}) }}

                        <div class="col-lg-12">
                            {{ form_widget(form.dateAjout,{'attr':{'class':'form-control','disabled':'disabled'}}) }}
                        </div>

                        <div class="col-lg-4 text-danger">
                            {{ form_errors(form.dateAjout) }}
                        </div>

                    </div>

                    <div class="form-group col-lg-12">

                        <p class="text-center">
                            {{ form_widget(form.Enregister,{'attr':{'class':'btn btn-primary col-lg-6 col-lg-offset-3'}}) }}
                        </p>

                    </div>

                    {{ form_rest(form) }}

                    {{ form_end(form) }}

                </div>
            </div>



        </div>

    </div>


{% endblock %}

